.movimiento_de_boton:hover{
transform:translateY(-5px);
box-shadow: 0 0 20px #ffff;
}

#cuerpo { 
	background: url(fondor.png) center fixed no-repeat
}

.botones{
	text-align: center;
	margin-top: 500px;
}

.ca-menu{
    padding: 0;
    margin: 20px auto;
    width: 500px;
    float: left;
}
.in{
text-align: center;
}
.in p{
font-size: 30px;
}
.info{
	font-family: 'WebSymbolsRegular', cursive;
	float:right;
	width: 800px;
	height: 900px;
	overflow: hidden;
	display: block;
	background: #fff;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	margin-bottom: 4px;
    margin-top: 20px;
    padding: 50px;
	border-left: 10px solid #000;
	transition: all 300ms ease-in-out;
}
.ca-menu li{
	font-family: 'WebSymbolsRegular', cursive;
	width: 500px;
	height: 100px;
	overflow: hidden;
	display: block;
	background: #fff;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	margin-bottom: 4px;
	border-left: 10px solid #000;
	transition: all 300ms ease-in-out;
}
.ca-menu li:last-child{
    margin-bottom: 0px;
}

.ca-menu li a{
    text-align: left;
    display: block;
    width: 100%;
    height: 100%;
    color: #333;
    position:relative;
}

.ca-icon{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 20px;
    text-shadow: 0px 0px 1px #333;
    line-height: 90px;
    position: absolute;
    width: 90px;
    left: 20px;
    text-align: center;
    transition: all 300ms linear;
}

.ca-content{
    position: absolute;
    left: 120px;
    width: 370px;
    height: 60px;
    top: 20px;
}

.ca-main{
    font-size: 30px;
    transition: all 300ms linear;
    transform:translateY(10px);
}
.ca-sub{
    font-size: 14px;
    color: #666;
    transition: all 300ms linear; 
    transform:translateY(50px);
}


.ca-menu li:hover{
    border-color: #000;
    background: #2271b3;
}
.ca-menu li:hover .ca-icon{
    color: #000;
    text-shadow: 0px 0px 1px #000;
    font-size: 50px;
}
.ca-menu li:hover .ca-main{
    color: #000;
    font-size: 14px;
    transform:translateY(-15px);
}
.ca-menu li:hover .ca-sub{
    color: #fff;
    font-size: 20px;
    transform:translateY(-15px);
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
#contact{
  animation-duration: 2s;
  animation-delay: 0s;
  animation-name: sBote;
}

@keyframes sBote{
  from{
    opacity: 0;
   margin-top:   400px;
  }
  to{
  opacity: 1;
    margin-top:   150px;
  }
}


body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: url(fondor.png) center fixed no-repeat
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  
}

.container2 {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  left:300px;
  bottom: 700px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="password"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact2 input[type="text"],
#contact2 input[type="email"],
#contact2 input[type="tel"],
#contact2 input[type="password"],
#contact2 input[type="url"],
#contact2 textarea,
#contact2 button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact2 {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact2 h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact2 h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="password"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact2 input[type="text"],
#contact2 input[type="email"],
#contact2 input[type="tel"],
#contact2 input[type="password"],
#contact2 input[type="url"],
#contact2 textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact2 input[type="text"]:hover,
#contact2 input[type="email"]:hover,
#contact2 input[type="tel"]:hover,
#contact2 input[type="url"]:hover,
#contact2 textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact2 textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #C4C4C4;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact2 button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #C4C4C4;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #C4C4C4;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact2 button[type="submit"]:hover {
  background: #C4C4C4;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact2 button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

#contact2 input:focus,
#contact2 textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
